<link rel="stylesheet" href="/css/index.css" type="text/css">

<div id="titulos">
    <p>BIENVENIDO/A
        <br>Al mejor sitio web de publicidad de eventos del Ecuador
    </p>
</div>

<div id="contenedor">
    <div id="tarjeta">
        <div id="tarjetas">
            <div id="logo">
                <img src="/img/logos/Logo_CIty_Boletos con Perfil.png" alt="">
            </div>


            <div id="texts">

                <textarea></textarea>
                <!--<p>
                    *** Cualquier persona puede publicar eventos sin el Organizador.
                    <br><br>
                    *** Puede ganar puntos canjeables por boletos y acceder a sorteos.
                    <br><br>
                    *** Publica un evento que deseas difundir.
                </p>-->
            </div>

            <div id="continuar">
                <a href="/events/list/">
                    <button type="button">Continuar</button>
                </a>
            </div>
        </div>
    </div>
</div>
