/* You can add global styles to this file, and also import other style files */
/*(color general)background-image: linear-gradient(to right, #5cdfd2, #00bddb, #0097e7, #006ce2, #1232bd);*/

#fondo {
    position: fixed;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    top: 0%;
    background-color: #CAE3F5;
}

#fondo img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#contenedor,
#contenido {
    background-image: linear-gradient(to right, #5cdfd2, #00bddb, #0097e7, #006ce2, #1232bd);
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 30px;
}

input,
select,
textarea {
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
    border-bottom: 6px solid #5cdfd2;
    transition: all .5s ease;
    width: 100%;
}

input:focus,
select:focus,
textarea:focus {
    border-bottom: 6px solid #1232bd;
}

body,
a {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    color: black;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
}

label {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#titulo,
#titulo2 {
    width: 100%;
    height: 100%;
    max-height: 7.5%;
    position: absolute;
    left: 0%;
}

#titulo p,
#titulo2 p {
    background-color: rgb(248, 243, 235);
    color: black;
    font-size: 25px;
    font-weight: bolder;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

#Mensaje {
    font-size: 38px;
    color: rgb(112, 136, 182);
}

/*  BOTONES  */
button {
    cursor: pointer;
    background-color: #004aad;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    color: white;
    display: block;
    border: 0px solid transparent;
    text-decoration: none;
}

button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

button:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}