<link rel="stylesheet" href="/css/partials/footer.css" type="text/css">

<div id="contenedorFooter">
    <div id="conocenos">
        <label>Quienes somos</label>
        {{#each list}}
        <textarea id="informacion">
            {{stateCity}}
        </textarea>
        {{/each}}
    </div>

    <div id="reglas">
        <label>Políticas y Reglamentos</label>
        <div id="politica">
            <a href="https://www.youtube.com/">Términos y condiciones</a>
        </div>
    </div>

    <div id="socialMedia">
        <a>Nuestras Redes Sociales:</a>
        <label id="Facebooks">
            <a href="https://es-la.facebook.com/">Facebook</a>
        </label>

        <label id="Instagrams">
            <a href="https://www.instagram.com/">Instagram</a>
        </label>

        <label id="Twitters">
            <a href="https://twitter.com/?lang=es">Twitter</a>
        </label>

        <label id="YouTubes">
            <a href="https://www.youtube.com/">YouTube</a>
        </label>
    </div>

    <div id="copyrigth">
        <div id="line">
            <hr>
        </div>
        <a>City Boletos</a>
        Copyright © Todos los derechos reservados
    </div>
</div>
</form>