<!-- Required meta tags -->
<link rel="stylesheet" href="/CSS/usuario/Recuperacion.css" type="text/css">


<form action="/updatePassword/" method="post" id="ocultar">
    <div id="contenedor">
        <div id="formulario">
            <h1>Recuperación de la Contraseña</h1>

            <div id="correo">
                <label>
                    <b>Nombre de Usuario</b>
                </label>
                <input id="correo2" type="text" name="usernameClient" placeholder="Nombre Usuario" required>
            </div>

            <div id="contrasenia">
                <label>
                    <b>Contraseña</b>
                </label>
                <input id="password" type="password" name="passwordClient" placeholder="Ingrese su nueva Contraseña"
                    required>
            </div>

            <div id="contrasenia2">
                <label>
                    <b>Confirmación de la Contraseña</b>
                </label>
                <input id="password2" type="password" name="password2" onkeyup="boton.verificacion()"
                    placeholder="Confirme su Contraseña" required>
            </div>

            <div id="ojo">
                <button id="visto" type="button" onclick="boton.cambio()"><img src="/img/icons/white/eyes.png"></button>
                <button id="equis" type="button" onclick="boton.cambio2()"><img
                        src="/img/icons/white/cerrado.png"></button>
            </div>

            <div id="ojo2">
                <button id="visto2" type="button" onclick="boton.cambio3()"><img
                        src="/img/icons/white/eyes.png"></button>
                <button id="equis2" type="button" onclick="boton.cambio4()"><img
                        src="/img/icons/white/cerrado.png"></button>
            </div>

            <div id="boton">
                <button type="submit">
                    <div id="iconoPassword">
                        <img src="/img/icons/white/password.png">
                    </div>Actualizar
                </button>
            </div>
        </div>
    </div>
</form>


<script src="/js/Usuario/recuperacion.js"></script>